// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
   height: 100%;
   font-family:verdana,arial,sans-serif;
   background-color: #e9ebee;
   color: #1d2129;
}

/*header */
.navbar{
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
}
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.nav-item{
  padding-left:20px;
  font-color: white;
}

li a{
  color:white !important;
  padding-top:1px !important;
}

li a:hover {
text-decoration: none;
}

/*footer */
.bg-info{
  background-color: white !important;
}
.text-white{
  color: #d6c3c3 !important;
}

/*トップ画面（index） */
td{
  width:150px;
  padding: 0 15px 15px 15px;
}

/*ブログ詳細画面（show） */
.main_picture img{
  width: 500px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.name{
  margin: 10px auto;
}

.content{
  margin: 20px auto;
}

/*メッセージ（_messages） */
.notice{
  margin: 15px auto;
}